section#about
    include ../components/cube
    +cube('ABOUT')
    article.container
        .wrap
            figure
                img(src="/assets/images/koinvestor_logo.svg", alt="koinvestor logo")
                figcaption GLOBAL BLOCKCHAIN INVESTMENT FIRM
            p.description 
                //- | Koinvestor is a global investment firm
                | Koinvestor is a global investment firm,<br class="sm"/>
                | specialized in offering disruptive companies <br/>
                | access to the accredited and institutional investors,
                | and strategic partners in Asia.