section#contact
    include ../components/cube
    +cube('CONTACT US')
    article.container
        .wrap
            .address
                figure
                p contact@koinvestor.com

            form
                .input
                    input#name(type="text" placeholder="Name")
                    label(for="name")
                .input
                    input#email(type="email" placeholder="E-mail")
                    label(for="email")
                .input
                    textarea#message(placeholder="Message")
                    label(for="message")
                button(type="submit") SEND