section#partners
    include ../components/cube
    +cube('PARTNERS')
    article.container
        .wrap
            ul
                -
                    var partners = [
                        {
                            class: 'hash',
                            img:'/assets/partners/hash.svg'
                        },
                        {
                            class: 'liquid',
                            img:'/assets/partners/liquid.png'
                        },
                        {
                            class: 'inventure',
                            img:'/assets/partners/inventure.svg'
                        },
                    ]
                each partner in partners
                    li(class=`${partner.class}`)
                        a()
                            img(src=`${partner.img}`, alt="")