section#partners
    include ../components/cube
    +cube('PARTNERS')
    article.container
        .wrap
            ul
                -
                    var partners = [
                        //- {
                        //-     class: 'hash',
                        //-     img:'/assets/partners/hash.svg',
                        //-     url:'https://hashcib.com/'
                        //- },
                        //- {
                        //-     class: 'inventure',
                        //-     img:'/assets/partners/inventure.svg',
                        //-     url:'https://inventurepartners.com/'
                        //- },
                        {
                            class: 'liquid',
                            img:'/assets/partners/liquid.png',
                            url:'https://www.liquid.com/'
                        },
                    ]
                each partner in partners
                    li(class=`${partner.class}`)
                        a(href=`${partner.url}` target="_blank")
                            img(src=`${partner.img}`, alt="")