section#portfolio
    include ../components/cube
    +cube('PORTFOLIO')
    article.container
        .wrap
            ul
                -
                    var projects = [
                        {
                            class: 'ambrosus',
                            name: 'Ambrosus',
                            symbol: '/assets/images/portfolio/ambrosus.svg',
                            url:'https://ambrosus.com/'
                        },
                        {
                            class: 'eos',
                            name: 'EOS',
                            symbol: '/assets/images/portfolio/eos.png',
                            url:'https://eos.io/'
                        },
                        {
                            class: 'gonetwork',
                            name: 'GoNetwork',
                            symbol: '/assets/images/portfolio/gonet.svg',
                            url:'https://gonetwork.co/'
                        },
                        {
                            class: 'komodo',
                            name: 'Komodo',
                            symbol: '/assets/images/portfolio/komodo.svg',
                            url:'https://komodoplatform.com/'
                        },
                        {
                            class: 'paypie',
                            name: 'Paypie',
                            symbol: '/assets/images/portfolio/paypie.svg',
                            url:'https://www.paypie.com/'
                        },
                        {
                            class: 'playkey',
                            name: 'Playkey',
                            symbol: '/assets/images/portfolio/playkey.svg',
                            url:'https://playkey.io/'
                        },
                        {
                            class: 'qash',
                            name: 'Qash',
                            symbol: '/assets/images/portfolio/qash.svg',
                            url:'https://www.liquid.com/'
                        },
                        {
                            class: 'qtum',
                            name: 'Qtum',
                            symbol: '/assets/images/portfolio/qtum.svg',
                            url:'https://qtum.org/'
                        },
                        {
                            class: 'rsk',
                            name: 'RSK',
                            symbol: '/assets/images/portfolio/rsk.svg',
                            url:'https://www.rsk.co/'
                        },
                        //- {
                        //-     class: 'telegram',
                        //-     name: 'Telegram',
                        //-     symbol: '/assets/images/portfolio/telegram.svg',
                        //-     url:'https://telegram.org/'
                        //- },
                        {
                            class: 'tenx',
                            name: 'TenX',
                            symbol: '/assets/images/portfolio/tenx.svg',
                            url:'https://tenx.tech/'
                        },
                        {
                            class: 'windingtree ',
                            name: 'Winding Tree',
                            symbol: '/assets/images/portfolio/windingtree.png',
                            url:'https://windingtree.com/'
                        },
                        {
                            class: '0x',
                            name: '0x',
                            symbol: '/assets/images/portfolio/0x.svg',
                            url:'https://0x.org/'
                        },
                    ]
                each project in projects
                    li(class=`${project.class}`)
                        a(href=`${project.url}` target="_blank")
                            figure
                                img(src=`${project.symbol}`, alt="")
                            p= project.name