//- article.bg
//-     video(src="/assets/video/coke.mp4" autoplay loop muted playsinline="true")
//- article.intro
//-     .type-one KOINVESTOR

//-     a(href="#about").bottom-button
//-         div
//-         div


article#overlay.cover
    p.typed KOINVESTOR
    a.arrow
        div
        div