article.bg
    img(src="https://i.imgur.com/7T9364v.gif?noredirect", alt="")
article.intro
    .type-one KOINVESTOR

    a(href="#about").bottom-button
        div
        div
        //- div
        