//- article.bg
//-     video(src="/assets/video/coke.mp4" autoplay loop muted playsinline="true")
//- article.intro
//-     .type-one KOINVESTOR

//-     a(href="#about").bottom-button
//-         div
//-         div


article#overlay.cover
    .logo
        figure
            img(src="/assets/koinvestor_symbol.svg", alt="")
    a.arrow
        div
        div