article.bg
    video(src="/assets/video/coke.mp4" autoplay loop muted playsinline="true")
    //- img(src="https://i.imgur.com/7T9364v.gif?noredirect", alt="")
article.intro
    .type-one KOINVESTOR

    a(href="#about").bottom-button
        div
        div
        //- div
        