article.bg
    .video
        video(src="/assets/video/meeting.mp4" loof autoplay muted playsinline="true")
    .cover
article.intro
    .type-one
    .type-two
    .type-three

    a(href="#about").bottom-button
        div
        div
        //- div
        